# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env

# Salidas del proyecto
monitor.csv
monitor_*.csv
outputs/
results/
checkpoints/
ray_results/

# Logs
*.log

# Configs locales del editor / sistema
.vscode/
.idea/
.DS_Store
